a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}

#bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
    background-size: cover !important;
}

.left-position {
  left: -2.9%;
}

.headshot {
  width: 250px;
  height: auto; 
}

.bullets {
  font-size:1.5em;
  left-margin: 10px;
  left-padding: 10px;
}

.caption-box {
    display: table;
    white-space: normal;
}

.caption-box span.title {
    font-size: 2.4em;
    font-weight: 400;
    white-space: normal;
    /*white-space: nowrap;*/
}

.caption-box span.text{
    font-size: 1.8em;
    font-weight: 400;
    white-space: normal;
    /*font-family: 'Roboto', sans-serif;*/
}

.caption-box span.title {
    font-size: 2.6em;
    white-space: nowrap;
    position: static;
}

.grey-box {
	background-color: rgba(255,255,255,0.2);
}

.resume {
	margin-top: -10px;
	font-size: 12pt;
  color: #FFFFFF;
	background-color: rgba(0,0,0,0.7);
	overflow: hidden;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.resume:hover {
  color: #000000;
  background-color: rgba(255,255,255,0.7);
  text-decoration: none;
}

.appno-link {
  font-size: 2.6em;
  color: #FFFFFF;
  white-space: nowrap;
  position: static;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,0.7);
  /*overflow: hidden;*/
}
.appno-link:hover {
  color: #000000;
  background-color: rgba(255,255,255,0.7);
  text-decoration: none;
}
/*.appno-link:active {
  color: #000000;
}*/

.content-container {
  padding-left: 21%;
  padding-right: 21%;
}

.parallax-banner {
   background: url('http://i.imgur.com/4SMJoKf.jpg') no-repeat center center fixed;
   color:#fff;
   background-size:cover;
   padding-bottom: 105px;

}

.parallax-experience {
   background: url('http://i.imgur.com/XonzRcG.jpg') no-repeat center center fixed;
   color:#fff;
   background-size:cover;
   padding-top: 25px;
   padding-bottom: 50px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}

.banner {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0,0,0,0.6);
	/*overflow: hidden;*/
}

.header-links {
	font-size: 12px;
}

.github-link {
	font-size: 11px;
}

.jumbotron-modified {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron-modified h1,
.jumbotron-modified .h1 {
  color: inherit;
}
.jumbotron-modified p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron-modified > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron-modified,
.container-fluid .jumbotron-modified {
  border-radius: 6px;
}
.jumbotron-modified .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-modified {
    padding: 50px 0 3px 0;
  }
  .container .jumbotron-modified {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron-modified h1,
  .jumbotron-modified .h1 {
    font-size: 63px;
  }



.jumbotron-experience {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron-experience h1,
.jumbotron-experience .h1 {
  color: inherit;
}
.jumbotron-experience p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron-experience > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron-experience,
.container-fluid .jumbotron-experience {
  border-radius: 6px;
}
.jumbotron-experience .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-experience {
    padding: 3px 0;
  }
  .container .jumbotron-experience{
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron-experience h1,
  .jumbotron-experience .h1 {
    font-size: 63px;
  }